// Mailchimp sign up styles
#mc_embed_signup{
    clear:left; font:14px Helvetica,Arial,sans-serif; 
    label {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.7em;
    }
}